.img {
  width: 10%;
  margin: 10px;
  border: 5px solid #555;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;
}

.selected {
  border: 5px solid rgb(0, 195, 255);
}

p {
  text-align: center;
}

button {
  margin: 20px;
}